:root {
    --light-white: #ecebe9;
    --light-blue: #86c1fe;
    --light-red: #ed837f;
    --light-green: #8bd0a1; 
    --light-yellow: #f7c117;
    --light-black: #1b1919;
}

body {
    background: linear-gradient(to right, var(--light-white) 0%, var(--light-white) 100%);
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

/* Start of Scrollbar Style */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--light-white);
}

::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}
/* End of scrollbar style*/


/* Start of Header Style */
.header-image {
    margin: 2rem auto;
    width: 100%;
    background: var(--light-white);
}

.p-red {
    color: var(--light-red);
}

.p-blue {
    color: var(--light-blue);

}

.p-yellow {
    color: var(--light-yellow);
}

.p-green {
    color: var(--light-green);
}
/* End of header style */


/* Start of container links style */
.links-container button {
    width: 55%;
    background: none;
    color: var(--light-white);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--light-white);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    transition: 500ms;
}
/* End of container links style*/


/* Start of buttons style */
#whatsapp {
    background: var(--light-red);
}

#whatsapp:hover {
    background: var(--light-yellow);
}

#phone-number {
    background: var(--light-blue);
}

#phone-number:hover {
    background: var(--light-green);
}

#maps {
    background: var(--light-yellow);
}

#maps:hover {
    background: var(--light-red);
}

#facebook {
    background: var(--light-green);
}

#facebook:hover {
    background: var(--light-blue);
}
/* End of buttons styles*/

/* Start of footer style*/
.footer-image {
    width: 100%;
    margin-bottom: 1rem;
    clip-path: circle(50%);
}

.footer-links-buttons button {
    background: none;
    border: none;
    margin-top: 3rem;
}

.copyright {
    color: var(--light-black);
    text-decoration: none;
}

.dev-information a{
    text-decoration: none;
    color: var(--light-red);
}
/* End of footer style */